name: zmk-build-and-release

on:
  push:
    paths:
      - '.github/workflows/build.yml'
      - 'boards/**'
      - 'config/**'
      - 'zephyr/**'
      - 'build.yaml'
    branches: [ "main" ]
  pull_request:
    paths:
      - '.github/workflows/build.yml'
      - 'boards/**'
      - 'config/**'
      - 'zephyr/**'
      - 'build.yaml'
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: read

    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3
